@import url("utilities.css");

body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}

.header {
    &--colored-bg {
        background: linear-gradient(169.4deg, #3984f412 -6.01%, #0cd3ff12 36.87%, #2f7cf012 78.04%, #0e65e812 103.77%);
    }

    .navbar {
        & + * {
            margin-top: 2em;
        }
    }

    .head-img-scale {
        transform: scale(1.5);
    }
}

.wall-texture {
    //background-image: url('./../assets/img/wall-bg-texture.png');
    position: relative;
    overflow: hidden;
    &::before,
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    &::before {
        background-image: url("./../img/wall-bg-texture.png");
        z-index: -2;
        opacity: 0.35;
    }

    &::after {
        z-index: -1;
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.7) -9.25%,
            rgba(255, 255, 255, 0.6) -9.25%,
            rgba(244, 249, 255, 0.7) 108.74%
        );
    }
}

.check-circle {
    background-image: url("./../img/check-circle.png");
    height: 20px;
    width: 20px;
    margin-right: 10px;
    display: inline-block;
}

.form-template {
    .input-border {
        border-radius: 20px;
        border: 1px solid #3984f4;
        padding: 22px 16px;
        display: flex;

        @media only screen and (max-width: 767px) {
            padding: 16px 10px;
        }

        @media only screen and (max-width: 575px) {
            padding: 8px 4px;
        }

        & > * {
            border: none;
            background-color: transparent;
            border-radius: 0;

            @media only screen and (max-width: 767px) {
                padding: 0.35rem 0.5rem;
            }

            @media only screen and (max-width: 575px) {
                padding: 0.25rem;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        label {
            font-size: 14px;
            font-weight: 500;
            color: #468ef9;
            flex: 1 0 40%;
            border-right: 1px solid #468ef9;
        }
    }
}

.gradient-text {
    background: linear-gradient(180deg, #3984f4 -6.01%, #0cd3ff 36.87%, #2f7cf0 78.04%, #0e65e8 103.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.table {
    &.currency-list-table {
        font-size: 12px;
        thead {
            tr {
                th {
                    padding: 16px 0;
                    color: #505050;
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: 20px 0;
                    color: #505050;
                    font-weight: 500;
                    vertical-align: middle;

                    &:first-child {
                        padding-left: 5px;
                    }
                    &:last-child {
                        padding-right: 5px;
                    }
                }

                &:hover {
                    background-color: #f7f7f7;
                    cursor: pointer;
                }
            }
        }
    }
}


.price {
    border-radius: 100px;
    padding: 2px 10px;
    width: max-content;
    border: 1px solid;
    display: inline-block;
    
    &-up {
        background-color: rgb(0 128 0 / 10%);
        border-color: #007200;
        color: #007200;
    }
    &-down {
        background-color: rgb(255 30 30 / 10%);
        border-color: #df0000;
        color: #df0000;
    }
}