@charset "UTF-8";
@import url("reset.css"); /**
 * Kullanım:
 *	@include MinWidthResponsive(240px){}
 *  ...
 *  ...
 *  ...
 *  @include MaxWidthResponsive(1500px){}
 *
 */
@import url("plugins/swiper.css");
@import url("plugins/pagination.css");
@import url("plugins/tradingview.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.cursor-pointer {
  cursor: pointer;
}

.minus-margin {
  margin-top: -50px;
}

.radius-corner {
  border-radius: 2em;
}

.shadow-light {
  box-shadow: 0 10px 30px #f1f1f1;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

.header--colored-bg {
  background: linear-gradient(169.4deg, rgba(57, 132, 244, 0.0705882353) -6.01%, rgba(12, 211, 255, 0.0705882353) 36.87%, rgba(47, 124, 240, 0.0705882353) 78.04%, rgba(14, 101, 232, 0.0705882353) 103.77%);
}
.header .navbar + * {
  margin-top: 2em;
}
.header .navbar .navbar-toggler {
  z-index: 9;
}
@media (max-width: 1199px) {
  .header .navbar-collapse.show .navbar-nav {
    left: 0;
  }
}
.header .navbar-collapse .navbar-nav {
  justify-content: space-evenly;
  z-index: 2;
}
@media (max-width: 1199px) {
  .header .navbar-collapse .navbar-nav {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    background-color: rgb(223, 223, 223);
    width: clamp(300px, 50%, 500px) !important;
    transition: all 0.2s ease-out;
    justify-content: center;
    box-shadow: 0 10px 30px #bdbdbd;
  }
  .header .navbar-collapse .navbar-nav::before, .header .navbar-collapse .navbar-nav::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .header .navbar-collapse .navbar-nav::before {
    background-image: url("./../img/wall-bg-texture.png");
    z-index: -2;
    opacity: 0.35;
  }
  .header .navbar-collapse .navbar-nav::after {
    z-index: -1;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) -9.25%, rgba(255, 255, 255, 0.6) -9.25%, rgba(244, 249, 255, 0.7) 108.74%);
  }
}
.header .head-img-scale {
  transform: scale(1.5);
}

.main-trade {
  background-color: #131c29;
}
@media (min-width: 1200px) {
  .main-trade {
    height: calc(100vh - 74px);
  }
}
.main-trade .currencies-list {
  width: 100%;
  height: calc(100vh - 74px);
  overflow-y: auto;
  overflow-x: hidden;
}
.main-trade .currencies-list::-webkit-scrollbar {
  width: 6px;
}
.main-trade .currencies-list::-webkit-scrollbar-track {
  background: #152338;
}
.main-trade .currencies-list::-webkit-scrollbar-thumb {
  background: #888;
}
.main-trade .currencies-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media (max-width: 1199px) {
  .main-trade .currencies-list {
    height: calc(100vh - 56px);
  }
}
@media (max-width: 991px) {
  .main-trade .currencies-list {
    height: 35vh;
  }
}
.main-trade .currencies-list-content {
  padding: 10px 0;
}
.main-trade .currencies-list-content .currency-item {
  width: calc(100% - 10px);
  border-bottom: 1px solid rgba(238, 238, 238, 0.1254901961);
}
.main-trade .currencies-list-content .currency-item a {
  display: flex;
  width: 100%;
  padding: 4px 6px;
  font-size: 14px;
  font-weight: 500;
  color: #eeeeee;
  text-decoration: none;
}
.main-trade .currencies-list-content .currency-item a:hover {
  background-color: #152338;
}
.main-trade .currencies-list-content .currency-item a span {
  flex: 1 1 50%;
}
.main-trade .currencies-list-content .currency-item:last-child {
  border-bottom: 0;
}

.wall-texture {
  position: relative;
  overflow: hidden;
}
.wall-texture::before, .wall-texture::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.wall-texture::before {
  background-image: url("./../img/wall-bg-texture.png");
  z-index: -2;
  opacity: 0.35;
}
.wall-texture::after {
  z-index: -1;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) -9.25%, rgba(255, 255, 255, 0.6) -9.25%, rgba(244, 249, 255, 0.7) 108.74%);
}

.check-circle {
  background-image: url("./../img/check-circle.png");
  height: 20px;
  width: 20px;
  margin-right: 10px;
  display: inline-block;
}

.form-template .input-border {
  border-radius: 20px;
  border: 1px solid #3984f4;
  padding: 22px 16px;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .form-template .input-border {
    padding: 16px 10px;
  }
}
@media only screen and (max-width: 575px) {
  .form-template .input-border {
    padding: 8px 4px;
  }
}
.form-template .input-border > * {
  border: none;
  background-color: transparent;
  border-radius: 0;
}
@media only screen and (max-width: 767px) {
  .form-template .input-border > * {
    padding: 0.35rem 0.5rem;
  }
}
@media only screen and (max-width: 575px) {
  .form-template .input-border > * {
    padding: 0.25rem;
  }
}
.form-template .input-border > *:focus {
  outline: none;
  box-shadow: none;
}
.form-template .input-border label {
  font-size: 14px;
  font-weight: 500;
  color: #468ef9;
  flex: 1 0 40%;
  border-right: 1px solid #468ef9;
}
.form-template .input-content {
  position: relative;
}
.form-template .input-content .swap-currency-btn {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 40px;
  aspect-ratio: 1;
  background-color: white;
  transform: translate(20px, -50%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3984f4;
  cursor: pointer;
  transition: all 0.15s linear;
}

.gradient-text {
  background: linear-gradient(180deg, #3984f4 -6.01%, #0cd3ff 36.87%, #2f7cf0 78.04%, #0e65e8 103.77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.table.currency-list-table {
  font-size: 12px;
}
.table.currency-list-table thead tr th {
  padding: 16px 0;
  color: #505050;
}
.table.currency-list-table tbody tr {
  position: relative;
}
.table.currency-list-table tbody tr td {
  padding: 20px 0;
  color: #505050;
  font-weight: 500;
  vertical-align: middle;
}
.table.currency-list-table tbody tr td:first-child {
  padding-left: 5px;
}
.table.currency-list-table tbody tr td:last-child {
  padding-right: 5px;
}

.price {
  border-radius: 100px;
  padding: 2px 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid;
  display: inline-block;
}
.price-up {
  background-color: rgba(0, 128, 0, 0.1);
  border-color: #007200;
  color: #007200;
}
.price-down {
  background-color: rgba(255, 30, 30, 0.1);
  border-color: #df0000;
  color: #df0000;
}

.hero-tables .table {
  margin: 20px 0 0;
}
.hero-tables .table thead tr > *,
.hero-tables .table tbody tr > * {
  padding: 0.5rem 0;
}
.hero-tables .table thead tr td {
  border-bottom: 0;
}
.hero-tables .table tbody {
  border-top: 0;
}
.hero-tables .table tbody tr:last-child td {
  border-bottom: 0;
  padding-bottom: 0;
}
.hero-tables .table tbody tr td img {
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=style.css.map */